.gb_Kc {
    font: 13px/27px Roboto, Arial, sans-serif;
    white-space: nowrap;
    border-radius: 50%;
    margin: 0 4px;
    padding: 12px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    height: 24px;
    width: 24px;
    -webkit-user-select: none;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    color: rgba(255, 255, 255, .87);
}

.gb_Kc:hover {
    font: 13px/27px Roboto, Arial, sans-serif;
    white-space: nowrap;
    border-radius: 50%;
    margin: 0 4px;
    padding: 12px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    height: 24px;
    width: 24px;
    -webkit-user-select: none;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    outline: none;
    background-color: rgba(6, 4, 48, 0.1);
}