@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

#tableContainer{
    padding: 0px 50px 10px 50px;
    font-family: 'lato', sans-serif;
}

.table {
  width: 100%;
}

.thead > div {
  font-weight: bold;
  background-color: #010820dd;
  color: white;
}

.tr {
  display: flex;
  word-wrap: break-word;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  margin: 8px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.problemRow:hover {
  transform: scale(1.01, 1.01);
}

.th {
  text-decoration: bold;
  padding: 18px 4px;
}

.td {
  word-wrap: break-word;
  padding: 12px 4px;
}

.pagination{
  padding: 4px 4px;
}

@media (width < 700px) {
  #tableContainer {
    padding: 10px 3%;
  }
}